@inherits LayoutComponentBase
<div>
    <NavMenu />
    <div class="columns">
        <div class="column has-padding-4">
            <div class="box">
                <main role="main">
                    @Body
                </main>
            </div>
        </div>
    </div>
</div>
