<nav role="navigation"
     aria-label="main navigation"
     class="navbar has-padding-horizontal-3 has-padding-vertical-0 is-white is-spaced">
    <div class="navbar-brand">
        <a href="/"
           aria-current="page"
           class="navbar-item router-link-exact-active router-link-active">
           <img src="/img/logo.svg" alt="Sound it out" style="min-height:4rem;">
        </a><a role="button" aria-label="menu" class="navbar-burger burger" @onclick="ToggleNavMenu">
            <span aria-hidden="true"></span> <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="@NavMenuClass">
        <div class="navbar-start">
            <a href="/"
               aria-current="page"
               class="navbar-item has-padding-vertical-4 has-padding-horizontal-5">
                Documents
            </a><NavLink href="upload"
               class="navbar-item has-padding-vertical-4 has-padding-horizontal-5">
                Upload
            </NavLink><NavLink href="library"
                   class="navbar-item has-padding-vertical-4 has-padding-horizontal-5">
                Library
            </NavLink><NavLink href="orders"
                   class="navbar-item has-padding-vertical-4 has-padding-horizontal-5">
                Orders
            </NavLink>
        </div>
        <div class="navbar-end">
            <div class="@UserDropdownClass" @onclick="ToggleUserDropdown">
                <a role="menuitem" aria-haspopup="true" href="#" class="navbar-link">
                    <i class="fas fa-user-circle fa-2x text-white"></i>
                </a>
                <div class="navbar-dropdown is-right">
                    <LoginDisplay />
                </div>
            </div>
        </div>
    </div>
</nav>


@code {
    private bool collapseUserDropdown = true;
    private bool collapseNavMenu = true;

    private string UserDropdownClass => collapseUserDropdown ? "navbar-item has-dropdown" : "navbar-item has-dropdown is-active";
    private string NavMenuClass => collapseNavMenu ? "navbar-menu" : "navbar-menu is-active";

    private void ToggleUserDropdown()
    {
        collapseUserDropdown = !collapseUserDropdown;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}